body {
}

header {
  background: blue;
}

body h1 {
  color:#000;
  
}

nav ul {
  margin:0;
}

nav ul li {
  display:inline-block;
  list-style-type: none;
  padding:5px 15px;
  background:white;
  margin: 30%;
  
  
}

nav ul li a {
  color:gold;
}
