body {
  font-size: 19px;
}

h1 {
  font-family:'Josefin Sans', sans-serif;
  color: MidnightBlue;
  color: peru; 
  position: center;
}

nav ul li {
  display:inline-block;
  list-style-type: none;
  background-color: MidnightBlue;
  margin: 0; 
}

a {
  color:Silver;
  color:SaddleBrown;
}

header img {
  border-radius: 100%;
  position: center;
}

p {
  line-height: 1.8em;
}

* {
  font-family: Georgia, serif;
  background: white;
  background: LemonChiffon;
}

ul {
  word-spacing: 1.3em;
}
