body {
	margin: 0 auto;
}

h1 {
	color: steelblue;
}

h2 {
	color: gold;
}

.projects  {
	font-family: 'Quicksand' , sans-serif;
	text-align: center;
}

.top a  {
	color: black;
	text-decoration: none;
	display: inline-block;
}

.top li {
	display: inline-block;
	padding: 25px;
	background-color: snow;
	border-left: 1px solid gray;
	
}

.top {
	position: fixed;
	height: 100px;
	background-color: snow;
	z-index: 3;
}

.header {
	position: relative;
	top: 8em;
}

a:hover {
	color: orange;
	font-weight: bold;
}


.projects-all {
	position: relative;
	display: inline-block;
	color: snow;
	text-align: center;
	font-family: 'Quicksand' , sans-serif;
	top: 8em;
}

.projects-academic {
	width: 200px;
	height: 200px;
	opacity: .85;
	background-color: steelblue;
	background-position: center;
	background-image: url(https://68.media.tumblr.com/df7242379319c62df955ce71c79d05db/tumblr_o410ubnCsa1qabbyto1_500.gif);
}

.projects-academic:hover {
	opacity: 1;
	padding-left: 10px;
}

.projects-art {
	height: 200px;
	width: 200px;
	background-color: orange;
	opacity: .85;
	background-position: center;
	background-image: url(https://i.pinimg.com/originals/38/bc/37/38bc37825499049b9a79226295af72d9.gif);
}

.projects-art:hover {
	opacity: 1;
	padding-left: +10px;
}

.projects-cs {
	height: 200px;
	width: 200px;
	background-color: steelblue;
	opacity: .90;
	background-position: center;
	background-image: url(https://media.giphy.com/media/Q9aBxHn9fTqKs/giphy.gif);
}

.projects-cs:hover {
	opacity: 1;
	padding-left: 10px;
}

.projects-fun {
	width: 200px;
	height: 200px;
	opacity: .85;
	background-color: purple;
	background-image: url(http://37.media.tumblr.com/0ba1ba128951dff1eea53c9a35d8fe0d/tumblr_n4ux8nbU3m1sjwwzso1_500.gif);
	background-position: center;

}

.projects-fun:hover {
	opacity: 1;
	padding-left: 10px;
}

