* {margin: 0;}
html {font-size: 16px;}
body {background-color: whitesmoke;}

.top {
	background-color: darkcyan;
	width: 100%;
	z-index: 0;
	height: 5rem;
}

.shadow {
	z-index: 30;
	width: 80%;
	height: .1em;
	background-color: darkcyan;
	position: relative;
	top: 3em;
	opacity: .0;
}

.name {
	color: #ffffff;
	font-family: 'Gugi', cursive;
	position: relative;
	left: 2rem;
	top: -.8rem;
	letter-spacing: .1em;
	font-size: 34px;
}

.nav {
	width: 100%;
	display: flex;
	flex-direction: row;
	font-family: 'Pragati Narrow', sans-serif;
	position: absolute;
	top: 1.5em;
	letter-spacing: .05rem;
	font-size:1.1em;
}

ul {
	display: flex;
	list-style-type: none;
	position: relative;
}

li {
	display: inline-block, flex;
	margin: 0px 40px;
}

.home-box {
	height: 100%;
	width: 100%;
	top:10rem;
	position: relative;

}

#june6 {
	position: relative;
	top: 3rem;
	font-size: 3rem;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

#june6-1 {
	width: 100%;
	position: relative;
	top: 5rem;
	text-align: center;
	font-family: Open Sans;
}
.dash-line {
	position: relative;
	top: 6em;
	opacity: .5;
	width: 50%;
}

.header {
	font-family: 'Quicksand', sans-serif;
	font-size: 32px;
	position: relative;
	left: 25%;
	top: 10em;
}

.post {
	width: 80%;
	position: relative;
	top: 8em;
	text-indent: 0%;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 1px;
	line-height: 2.25;
	width: 50%;
}

#update {
	position: relative;
	top: -8em;
}

.current  {color: #009ede;}
.current a {color: #009ede;}


a {
	text-decoration: none;
	color: #000000;
}

a:hover {color:#009ede;
	text-decoration: underline;
}


#prince {
	position: absolute;
	right: 0;
	bottom: 0;
}

#mood img {
	width: 20px;
	height: 20px;
}

.links a {
	color: #ffffff;
	position: relative;
	left: 24rem;
}
.home-post {
	position: relative;
	width: 80%;
	height: 20rem;
	left: 10%;
}


/* MOON AND SUN LIGTHS IN/OUT
#sun{background-color: lavender;
	border-radius: 100%;}
#moon{background-color: grey;
	border-radius: 100%;}
*/


/****** About CSS ******/

#steps {
	position: relative;
	width: 39rem;
	height: 26rem;
	top: 9rem;
	transform: rotate(270deg);
	left: 55rem;
}


.post #bio {
	position: relative;
	font-family: 'Roboto', sans-serif;
	line-height: 1.4em;
	width: 80%;
	left: 10%;
	top: 30%;
	text-align: center;
}

#bio  {
	width: 52%;
}

.post {
	left: 1rem;
	top: -24rem;
	position: relative;
	font-size: 1.5rem;
	width: 60rem;
	height: 30rem;
}

/*** Picture CSS ******/
.picture {
	width: 10rem;
	height: auto;
	margin: 0px;
}

.container-photo {
	display: grid;
	position: relative;
	top: 5rem;
	width: 100%;
	height: auto;
}

.container {
}

/****  BOOKS CSS ****/
.item {
	position: relative;
	height: 18rem;
	width: 12rem;
	padding-bottom: 3rem;
	left: 0%;
}

.bigbox {
	position: relative;
	top: 10rem;
	height: 100%;
	width: 99%;
	display: flex;
	flex-direction: column;
}
.ghost-shelf {
	display: flex;
	justify-content: left;
	flex-direction: row;
	height: 22rem;
	width: 80%;
	left: 10%;
	position: relative;
}

.book-post {
	font-family: 'Abel', sans-serif;
	position: relative;
	left: 8rem;
	top: 6rem;
}

/***** Writings CSS *****/

.writing-box {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.writing-post {
	position: relative;
	width: 80%;
	height: 25rem;
	left: 10%;
}

#onePercent {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 3rem;
}

#onePecentPost {
	text-align: center;
	font-family: Open sans;
	position: relative;
	top: 2rem;
	width: 70%;
	left: 15%;
}
